<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Instance Metadata is Great</h1>
    <p>Welcome to AWS Demo</p>

    <h2>Varirable</h2>
    <p><%= tagline %></p>

    <h2>Instanse ID</h2>
    <p><%= Instanceid %></p>

    <ul>
      <% mascots.forEach(function(mascot) { %>
        <li>
          <strong><%= mascot.name %></strong> representing <%= mascot.organization %>, born <%= mascot.birth_year %>
        </li>
      <% }); %>
    </ul>

  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>